<div class="container">
	<div class="col-md-3"><p>&nbsp;</p><p>&nbsp;</p>

		
		<div class="avatar" style="background-image: url('images/miguel.jpg')"></div>


	</div>
	<div class="col-md-9">
		<p>&nbsp;</p><p>&nbsp;</p>
		<h3>INTRODUCCION</h3>
		<p>
			Me he desempeñado en proyectos web en distintas tecnologías, php, Shell Script Javascript, Python, C++, Xml, C#, entre muchas tecnologías Windows y Linux.
			Me caracterizo por lograr el aprendizaje de nuevas tecnologías y lenguajes en breves lapsos de tiempo, agregando un valor a mi desempeño, en los proyectos en que he participado.
		</p>
		<p>
			Me encuentro en búsqueda de un lugar estable y confiable. En donde  
			pueda sentar raíces y desempeñarme como profesional de la materia de 
			la ingeniería en informática en el área web u nuevos desafíos en 
			la ingeniería.
	</p>





	</div>

<div ng-repeat="usuario in usuarios">
	<div> Rut : {{usuario.rut}}	</div>
		{{usuario.nombre}}	<br />		 
		{{usuario.apellido_pat}} {{usuario.apellido_mat}} 	<br />
		{{usuario.fecha_nac}}	 	<br />
		{{usuario.genero}}		 	<br />
		{{usuario.nacionalidad}} 	<br />
		{{usuario.direccion}}	 	<br />
		{{usuario.email}}		 	<br />
		{{usuario.github}}		 	<br />
		{{usuario.telefono}} 	 	<br />
		{{usuario.linkedint}} 	 	<br />
		{{usuario.usuario_id}}	<br />
	</div>
</div>	







</div>

